* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Georgia, Serif;
}

div#row {
  width: 100%;
  position: relative;
  padding-right: 20px;
}

h1#title {
    text-align: center;
    margin: 30px 0px 40px 0px;
    font-size: 1.75em;
}

h2.sectitle {
    border: solid 0px 0px 1px 1px;
    padding: 1px 20px 1px 20px;
    margin-top: 0px;
    float: right;
    border-color: black;
    font-size: 1.25em;
}

h2.bgc1 {
    background-color: darkblue;
    color: white;
}

h2.bgc2 {
    background-color: brown;
    color: white;
}

h2.bgc3 {
    background-color: darkgreen;
    color: white;
}

p.seccontent {
    clear: right;
    padding: 20px;
}

section.sec1, section.sec2, section.sec3 {
    border: solid 1px;
    margin: 20px 0px 20px 20px;
    background-color: lavender;
}

/********** Desktop devices only ***********/
@media (min-width: 992px) {
  section.sec1, section.sec2, section.sec3 {
    width: calc(33.33% - 20px);
    float: left;
  }
}

/********** Tablet devices only ***********/
@media (min-width: 768px) and (max-width: 991px) {
  section.sec1 {
    width: calc(50% - 20px);
    float: left;
  }
  section.sec2 {
    width: calc(50% - 20px);
    float: left;
  }
  section.sec3 {
    width: calc(100% - 20px);
    float: left;
  }
}

/********** Phone devices only ***********/
@media (max-width: 767px) {
  section.sec1, section.sec2, section.sec3 {
    width: calc(100% - 20px);
    float: left;
  }
}